@{
    ViewData["Title"] = "About";
    Layout = "_Layout2";
}
<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">03 : About me</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h3>Introduction</h3>
                                <p>I'm an enthusiastic software developer who enjoys building awesome stuff and trying to learn from everyone and everything.</p>
                                <h3>Location </h3>
                                <p>
                                    Actually based in Bengaluru, India
                                    <h3>Stack</h3>
                                <p>React | Angular | HTML | Javascript | SASS | CSS </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <img src="./assets/profil.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>